Ajouter cooper velo parmis les radio buttons, do not hard code the array. look into easily adding radio button selection

Pour n'importe quel exercice, changer le code pour qu'il vérifie si les threshold sont de plus en plus grand ou de plus en plus petit.
Ex: Squat le temps le plus petit le mieux. pour la chaise, le contraire
changer le code pour que le array verifie si le premier threshold est plus grand que le dernier ou vice-versa

Prendre en compte l'age en tranche de 10, à partir de 10 ans